.login_box { margin-top: calc(100% - 150px); }
input[name="id"], input[name="password"] { border: 1px solid rgb(150, 150, 150); box-sizing: border-box; }
input[name="id"]:focus, input:focus[name="password"] { outline-style: outset; outline-color: rgb(30, 120, 255); outline-width: 2px; transition: 0.3s; opacity: 0.5; }